<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SinkTravel</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <p><img id="icon" src="/images/icon.svg">
    <a href="/take-tour"><button id="takeTour">Подобрать тур</button></a></p>
    <% if (user) { %>
      <p><a href="/search"><img id="active" src="/images/search.svg"></a>
      <img id="active" src="/images/cart.svg">
      <img id="active" src="/images/profile.svg" onclick="window.location.href='/logout'"></p>
    <% } else { %>
      <p>
        <img id="active" src="/images/search.svg">
        <button onclick="window.location.href='/login'">Войти</button>
      </p>
    <% } %>
  </nav>

  <div id="name"><h1>Каталог</h1></div>

  <div class="tours-container">
  <% if (tours && tours.length > 0) { %>
    <% tours.forEach(tour => { %>
    <a href="/tour/<%= tour.id %>" class="tour-link">
      <div class="tour-card">
        <div class="tour-content">
          <img src="/images/abkhazia.png" class="tour-image">
          <div class="tour-info">
            <h2><%= tour.name %></h2>
            <p class="tour-description"><%= tour.description || 'Нет описания' %></p>
            <div class="bottom-panel">
              <div class="tour-price"><%= tour.price.toFixed(2) %>₽</div>
              <div><button>Купить</button></div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <% }); %>
  <% } else { %>
    <div class="no-tours">
      <p>Пока нет доступных туров</p>
    </div>
  <% } %>
</div>


  <footer>
    <p>©SinkTravel
    <a href="/catalog">Каталог</a>
    <a href="/take-tour">Подобрать тур</a>
    <a href="/cart">Корзина</a>
    <a href="/search">Поиск</a>
    <a href="/profile">Профиль</a></p>
  </footer>

</body>
</html>