<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Вход</title>
</head>
<body>
  <nav>
    <p><a href="/"><img id="icon" src="/images/icon.svg"></a>
    <a href="/take-tour"><button id="takeTour">Подобрать тур</button></a></p>
    <% if (user) { %>
      <p><a href="/search"><img id="active" src="/images/search.svg"></a>
      <img id="active" src="/images/profile.svg" onclick="window.location.href='/profile'">
      <button onclick="window.location.href='/logout'">Выйти</button></p>
    <% } else { %>
      <p>
        <a href="/search"><img id="active" src="/images/search.svg"></a>
        <button onclick="window.location.href='/login'">Войти</button>
      </p>
    <% } %>
  </nav>

  <div id="imgIntegration">
    <div class="login-container">
        <h1>Вход</h1>
        <form action="/login" method="POST">
          <div class="form-group">
            <input type="text" name="username" placeholder="Логин" required>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Пароль" required>
          </div>

          <div class="button-group">
            <button type="submit">Войти</button>
            <a href="/register"><button type="button">Регистрация</button></a>
          </div>

          <% if (error) { %>
            <p style="color: red; text-align: center; margin-top: 10px;">
              <%= error %>
            </p>
          <% } %>
        </form>
    </div>
    <img src="/images/join.jpeg">
    </div>

  <footer>
    <p>©SinkTravel
    <a href="/catalog">Каталог</a>
    <a href="/take-tour">Подобрать тур</a>
    <a href="/search">Поиск</a>
    <a href="/profile">Профиль</a></p>
  </footer>

</body>
</html>